@import "tailwindcss";

body * {
    font-family: "IBM Plex Serif", serif;
    font-weight: 300;
    font-size: 18px;
    box-sizing: border-box;
    margin: 0;
    border-color: #F3F4F6;
}

.border-bottom-black {
    border-bottom: 1px solid black;
}

.border-light {
    border-color: white;
}

.border-pinky {
    border-bottom: 1px solid #FF59A8;
}

body {
    font-family: Helvetica, sans-serif;
    font-size: 18px;
    font-weight: 300;
    overflow-x: hidden;
}

.footer-wrapper {
    display: grid;
    grid-template-columns: 1fr 20px 1fr 20px 1fr;
}

.grid-wrapper {
    display: grid;
    grid-template-columns: 1fr 20px 1fr 20px 1fr;
}
.grid-wrapper-m {
    display: grid;
    grid-template-columns: 1fr 20px 1fr 20px 1fr;
}
.product-page-grid{
    display: flex;
    flex-direction: row;
    gap: 20px;
}
.product-page-grid > :first-child {
    flex: 1;
}

.product-page-grid > :last-child {
    flex: 2;
}

.footer-link{
    cursor: pointer;
}

.footer-link:hover{
    opacity: 0.3;
}

@media (max-width: 768px) {
    body * {
        font-size: 16px;
    }

    .product-page-grid{
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    .grid-wrapper {
        grid-template-columns: repeat(2, 1fr);
        row-gap: 20px;
    }
    .grid-wrapper-m {
        grid-template-columns: repeat(1, 1fr);
        row-gap: 20px;
    }

    .footer-wrapper {
        display: grid;
        grid-template-columns: 1fr;
    }
}

.wavy {
    position: relative;
    text-decoration: none;
}

.wavy::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -15px;
    width: 100%;
    height: 20px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='6' viewBox='0 0 20 6'%3E%3Cpath d='M0,3 Q5,1 10,3 T20,3' stroke='%23000000' stroke-width='4' fill='none' stroke-linecap='round'/%3E%3C/svg%3E");
    background-repeat: repeat-x;
    background-size: 30px 20px;
    /*animation: wave-move 2s linear infinite;*/

}

@keyframes wave-move {
    0% {
        background-position-x: 0;
    }

    100% {
        background-position-x: 30px;
    }
}
