@import "tailwindcss";

body * {
    box-sizing: border-box;
    margin: 0;
    border-color: #e5e7eb;
}

body {
    font-family: Helvetica, sans-serif;
    font-size: 24px;
    font-weight: 300;
    overflow-x: hidden;
}

.footer-wrapper {
    display: grid;
    grid-template-columns: 1fr 20px 1fr 20px 1fr;
}

.grid-wrapper {
    display: grid;
    grid-template-columns: 1fr 20px 1fr 20px 1fr;
}
